[Desktop Entry]
Encoding=UTF-8
Name=Link to Social Media icons by roundicons.com
Type=Link
URL=https://www.iconfinder.com/iconsets/social-media-2068
Icon=text-html
